doctype html
html.no-js(lang='en')
    head
        meta(charset='utf-8')
        title Title
        meta(name='description', content='Description')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='styles/styles.css')
    block body